<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>{{community.name}}</p>
    <p>{{community.description}}</p>
    {{#each community.material}}
      <li><a href="{{this}}">{{this}}</a></li>
    {{else}}
      <p>No links yet!</p>
    {{/each}}

    <form class="" action="/post/{{community._id}}" method="post">
      <input type="text" name="message" value="">
      <input type="submit" name="" value="Post">
    </form>

    {{#each posts}}
      <li>{{this}}</li>
    {{else}}
      <p>No posts yet!</p>
    {{/each}}
  </body>
</html>
