<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{> header}}
    <title></title>
  </head>
  <body>

    {{> navbar}}

    <div class="center body">
      <div class="row">
        <div class="col-8 offset-left-2 userinfo">
          <h1>Welcome <b class="green-text">{{user.first_name}} {{user.last_name}}</b>!</h1> <br>
          <h3>{{user.email}}</h3> <br>
          <h3>{{user.username}}</h3> <br>

          <h5>Your Topics:</h5> <br>
          {{#each topics}}
          <a href="/topic/{{this._id}}"><h6>{{this.name}}</h6></a>
          <a href="/topic-update/{{this._id}}">Update</a> <br>
          {{/each}} <br>

          <h5>Your Resources:</h5> <br>
          {{#each resources}}
          <a href="/resource/{{this._id}}"><h6>{{this.name}}</h6></a>
          <a href="/resource-update/{{this._id}}">Update</a> <br>
          <a href="/resource-delete/{{this._id}}">Delete</a> <br>
          {{/each}} <br>

          <h5>Your Reviews:</h5> <br>
          {{#each reviews}}
          <a href="/resource/{{this.resource}}"><h6>{{this.message}}</h6></a>
          <a href="/review-update/{{this._id}}">Update</a> <br>
          <a href="/review-delete/{{this._id}}">Delete</a> <br>
          {{/each}} <br>

          <a href="/">Go Back Home</a> <br>
          <a href="/topics">View Topics</a> <br>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
