<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/topic.css">
    <link rel="stylesheet" href="https://decorator.io/tools/modulr.min.css">
  </head>
  <body>

    <div class="row header">
      <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
        <a href="/" class="brand text-21 text-white -padding-left -tablet-margin">Lyceum</a>
        <ul class="pull-right menu href-text-white">
          {{# if user}}
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a class="fill-purple" href="/register">Sign up</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div class="wrapper960 center">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>{{resource.name}}</h1>
        <h4>{{resource.description}}</h4>
        <h4>Created by {{resource.createdBy}} at {{resource.createdAt}}</h4>
        <h4>Likes: {{resource.likes}}</h4>
        <h4>Dislikes: {{resource.dislikes}}</h4>

        <h5>Reviews</h5>
        {{#each reviews}}
          {{#if this.message}}
            {{this.message}}
            <br>
            {{this.createdBy}}
            {{#if this.liked}}
              liked it.
            {{else}}
              disliked it.
            {{/if}}
            <br>
            {{this.createdAt}}
            <br>
            <br>
          {{/if}}
        {{else}}
          <p>No reviews yet!</p>
        {{/each}}
        <form action="/review/{{resource._id}}/{{resource.community}}" method="post">
          <input type="radio" name="rating" value="like" checked> Like
          <input type="radio" name="rating" value="dislike"> Dislike <br>
          <input type="text" name="message" value="">
          <button type="submit" class="btn btn-warning btn-sm" name="button">Post Review</button>
        </form>
      </div>
    </div>
  </body>
</html>
