<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/js/libs/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/libs/validator.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify-jquery.min.js" charset="utf-8"></script>
    {{> header}}
  </head>
  <body>

    {{> navbar}}

    <div class="center body">
      <div class="row">
        <div class="col-8 offset-left-2 resourceinfo">
          <h1>{{resource.name}}</h1> <br>
          <h4>{{resource.description}}</h4> <br>
          <h4 class="resourceLink">{{resource.link}}</h4> <br>
          <h4>Likes: {{resource.likes}}</h4>
          <h4>Dislikes: {{resource.dislikes}}</h4> <br>

          <script>
            $(".resourceLink").linkify({
              target:"_blank",
            });
            $(".linkified").text("Go to link");
          </script>

          <h3>Reviews</h3> <br>
          {{# each reviews}}
          <div class="row reviews">
            <div class="col-8 offset-left-2">
              <div class="height-auto review padding-v-20">
                {{#if this.message}}
                  {{this.message}} <br>
                {{/if}}
                {{#if this.liked}}
                  {{this.createdBy}}
                  liked it.
                {{else}}
                  {{this.createdBy}}
                  disliked it.
                {{/if}}
              </div>

            </div>
          </div>
          {{else}}
            No reviews yet!
          {{/each}}
          <br>
        </div>
      </div>
      <div class="wrapper960 center">
        <h6>Post a Review</h6> <br>
        <form action="/review/{{resource._id}}/{{resource.topic}}" method="post">
          <div class="radio-buttons padding-bottom-20">
            <input type="radio" name="rating" class="radio" id="like" value="like" checked> Like <br>
            <input type="radio" name="rating" class="radio" id="dislike" value="dislike"> Dislike <br>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="text" name="message" placeholder="Write a message">
            </div>
            <div class="col-6">
              <button type="submit" class="btn green" name="button">Post Review</button> <br>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-8 offset-left-2 resourceinfo padding-top-20">
          {{#if owner}}
            <a href="/resource-update/{{resource._id}}">Update Resource</a> <br>
            <a href="/resource-delete/{{resource._id}}">Delete Resource</a> <br>
          {{/if}}
          <a href="/topic/{{resource.topic}}">Back to Topic</a>
        </div>
      </div>

    </div>

    {{> footer}}

  </body>
</html>
