<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/js/libs/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/libs/validator.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify-jquery.min.js" charset="utf-8"></script>
    {{> header}}
  </head>
  <body>

    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-12">
        <h1>{{resource.name}}</h1>
        <h4>{{resource.description}}</h4>
        <h4 class="resources">{{resource.link}}</h4>
        <h4>Created by {{resource.createdBy}} {{resource.createdAt}}</h4>
        <h4>Likes: {{resource.likes}}</h4>
        <h4>Dislikes: {{resource.dislikes}}</h4>

        <script>
          $(".resources").linkify();
        </script>

        <h5>Reviews</h5>
        {{#each reviews}}
          {{#if this.message}}
            {{this.message}}
            <br>
            {{this.createdBy}}
            {{#if this.liked}}
              liked it.
            {{else}}
              disliked it.
            {{/if}}
            <br>
            {{this.createdAt}}
            <br>
            <br>
          {{/if}}
        {{else}}
          <p>No reviews yet!</p>
        {{/each}}
        <form action="/review/{{resource._id}}/{{resource.topic}}" method="post">
          <input type="radio" name="rating" value="like" checked> Like
          <input type="radio" name="rating" value="dislike"> Dislike <br>
          <input type="text" name="message" value="">
          <button type="submit" class="btn btn-warning btn-sm" name="button">Post Review</button>
        </form>

        {{#if owner}}
          <a href="/resource-update/{{resource._id}}">Update</a>
          <a href="/resource-delete/{{resource._id}}">Delete</a>
        {{/if}}

      </div>
    </div>

    {{> footer}}

  </body>
</html>
