<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/topic.css">
    <link rel="stylesheet" href="https://decorator.io/tools/modulr.min.css">
  </head>
  <body>
    
    <div class="row header">
      <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
        <a href="/" class="brand text-21 text-white -padding-left -tablet-margin">Lyceum</a>
        <ul class="pull-right menu href-text-white">
          {{# if user}}
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a class="fill-purple" href="/register">Sign up</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div class="wrapper960 center">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Update {{topic.name}}</h1>
        <form action="/topic-update/{{topic._id}}" method="post" onsubmit="return validateForm()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div> <!-- end div form-group -->
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" name="description">
          </div> <!-- end div form-group -->
          <script>
            function validateForm() {
              var name = document.getElementById('name');
              var description = document.getElementById('description');
              var origName = "{{topic.name}}";
              var origDesc = "{{topic.description}}";
              if (name.value.trim()==='') {
                name.value = origName;
              }
              if (description.value.trim()==='') {
                description.value = origDesc;
              }
              return true;
            }
          </script>
          <button type="submit" class="btn btn-warning btn-lg">Update Topic</button>
        </form>
      </div> <!-- end div col-sm-6 col-sm-offset-3 -->
    </div> <!-- end div container -->
  </body>
</html>
