<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/js/libs/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/libs/validator.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify.min.js" charset="utf-8"></script>
    <script src="/js/libs/linkify-jquery.min.js" charset="utf-8"></script>
    {{> header}}
    <title></title>
  </head>
  <body>

    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-12">
        <h1>{{topic.name}}</h1>
        <br>
        <h4>{{topic.description}}</h4>
        <br>
        <div class="resources">
          <h3>Resources</h3>
          <br>
          {{#each resources}}
            {{inc @index}}. <a href="/resource/{{this._id}}">{{this.name}}</a>
            <br>
            {{this.link}}
            <br>
            {{this.description}}
            <br>
            Likes: {{this.likes}}
            <br>
            Dislikes: {{this.dislikes}}
            <br>
            Created by {{this.createdBy}} at
            {{this.createdAt}}
            <br>
            <form action="/review/{{this._id}}/{{../topic._id}}" method="post">
              <label>Like</label>
              <input type="radio" name="rating" value="like" checked>
              <label>Dislike</label>
              <input type="radio" name="rating" value="dislike">
              <input type="text" name="message" value="">
              <button type="submit" class="btn purple" name="button">Post Review</button>
            </form>
            <br>

          {{else}}
            <p>No links yet!</p>
          {{/each}}
        </div>

        <script>
          $(".resources").linkify();
        </script>

        <br>
        <a href="/resource-create/{{topic._id}}">Post resource</a>

        {{#if owner}}
          <a href="/topic-update/{{topic._id}}">Update Topic</a>
          <br>
          <a href="/topic-delete/{{topic._id}}">Delete Topic</a>
        {{/if}}
      </div> <!-- end div col-sm-6 col-sm-offset-3 -->
    </div> <!-- end div container -->
    {{> footer}}

  </body>
</html>
